<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="db.properties"/>

    <!--1.配置环境 ，默认的环境id为mysql-->
    <environments default="mysql">
        <!--1.2.配置id为mysql的数据库环境 -->
        <environment id="mysql">
            <!-- 使用JDBC的事务管理 -->
            <transactionManager type="JDBC" />
            <!--数据库连接池 -->
            <dataSource type="POOLED">
                <property name="driver" value="${sqldriver}" />
                <property name="url"
                          value="${sqlurl}" />
                <property name="username" value="${sqlroot}" />
                <property name="password" value="${sqlpwd}" />
            </dataSource>
        </environment>
    </environments>
    <!--2.配置Mapper的位置 -->
    <mappers>
        <mapper resource="com/cduestc/mapper/PersonMapper.xml" />
        <mapper resource="com/cduestc/mapper/CardMapper.xml" />
        <mapper resource="com/cduestc/mapper/ClazzMapper.xml" />
        <mapper resource="com/cduestc/mapper/StudentMapper.xml" />
        <mapper resource="com/cduestc/mapper/SubjectMapper.xml"/>

    </mappers>
</configuration>
